{% extends "base.html" %}

{% block content %}

    <h1 style="text-align: center;">File Upload</h1>
    <div class="file-container">
      
      <form action="{{ url_for('upload_files') }} " class="dropzone">
      </form>
    </div>

    <hr>
      <div id="picture-frame" style="text-align:center;">
          <img src="{{ url_for('upload', filename=files) }}" style="width: 1024px"><br>
          <form action="{{url_for('flip') }}" >
            <input type="submit" value="Flip">
          </form>
      </div>
      
    <br>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
{% endblock %}